<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/img/avatar.ico" />
    <title>Login</title>
</head>
<body class="login">
    <header class="ini">
        <h3>Signin to pals</h3>
    </header>
    <div class="login-box">
        <span class="avatar"></span>
        <h1>Login Here</h1>
        div=err
        <form method='POST' action='/users/signin'>
            <label for="username">Email</label>
            <input type="email" placeholder="Enter Email" name="email">

            <label for="password">Password</label>
            <input type="password" placeholder="Enter Password" name="password">
            <input type="submit" value="Log In">
            <a href="signup">Don't have An account?</a>
        </form>
    </div>
</body>

</html>